#frontPageContainer{
  display: flex;
  flex-direction: column;
  height: 90%;
}

#flexfrontpagetop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 30rem;
  padding: 1rem;
  height: 5%;
  border-bottom: dotted 1px black;
}

.listContainer {
  display: flex;
  margin: 1rem;
  left: 0;
  flex-wrap: wrap;
  width: 80%;
  height: 90%;
  max-height: 120vh;
  overflow-y: scroll;
  justify-content: space-around;
}

.listContainer button {
  width: 100%;
}

#detailedViewContainerOverlay {
  background: rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#detailedViewContainer {
  background: rgb(246, 241, 233);
  color: rgb(79, 32, 13);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px #4F200D;
  height: 80%;
  width: 75%;
  align-items: center;
  z-index: 11;
}

#resultsfilter{
  display: flex;
  flex-direction: row;
  height: 100%;
}

fieldset fieldset {
  border-radius: 6px;
}

fieldset select {
  width: 8rem;
}

fieldset input, fieldset select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: rgb(246, 241, 233);
  font-size: small;
  font: inherit;
  width: 6rem;
}
fieldset select{
  width: 100%
}

.checkinput {
  width: 1rem;
}

legend {
  font-weight: bold;
}

#typography {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

#typography p {
  margin: 0;
  padding: 0;
}

#filterbar {
  /* width: 15rem; */
  width: 20%;
  margin: 1rem;
  height: auto;
}

#vehiclefilter {
  font-weight: bold;
}

#vehicleSelect {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: rgb(246, 241, 233);
  font-size: 20px;
  font: inherit;
  width: 100%;
  text-align: center;
}

.minmax {
  width: 40%
}

#filterbutton {
  border: none;
  border-radius: 5px;
  width: 40%;
  background-color: rgba(255, 132, 0, 0.3);
  margin: .5rem;
  padding: .2rem;
}

#filterbutton:hover {
  cursor: pointer;
  background-color: rgb(255, 132, 0)
}

#searchbar {
  width: 100%;
}

#flexcontainerbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}