.additem {
  width: 20em;
  background: hsla(48, 100%, 62%, 1);
  float: left;
  margin-top: 3em;
  border-radius: 10px;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 1px 1px 10px 1px #4F200D;
  color: black;
}

/* Button {
font-size: 18px;
padding: 2px;
padding-left: 10px;
padding-right: 10px;
border-block: black;
background-color: grey;
} */

label {
display: inline-block;
width:180px;
clear:left;
text-align:left;
padding-right:10px;
}

input {
padding: 5px 10px;
}