.vehicle-creation-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.vehicle-creation-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
}

.vehicle-creation-content-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.additem {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 20%;
  height: 100%;
  background: var(--container-color);
  float: left;
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 1px 1px 5px 1px var(--background-accent);
  overflow: auto;
  color: #11101d;
  font-family: "Poppins", sans-serif;
}

.additem label{
  font-weight: bold;
}

.vehicle-creation-image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  overflow: auto;
}

.newImageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 80%;
  background: var(--container-color);
  box-shadow: 1px 1px 5px 1px var(--background-accent);
  border-radius: 5px;
}

.saveImageInputContainer{
  width: 60%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
}

#imageUrlInput{
  color: #11101d;
}

/* Button {
font-size: 18px;
padding: 2px;
padding-left: 10px;
padding-right: 10px;
border-block: black;
background-color: grey;
} */

.additem label {
display: inline-block;
width:180px;
clear:left;
text-align:left;
padding-right:10px;
color: #11101d;
}

.additem input {
padding: 5px 10px;
}
