#flexcontainerheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  padding-bottom: 1rem;
  height: 8%;
}

#flexcontainerheader > * {
  font-size: 48px;
  font-weight: bolder;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 1rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(255, 132, 0);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(255, 217, 61);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: rgb(79, 32, 13);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  margin: 0;
  padding: 0;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(to right, rgb(255, 132, 0), rgb(255, 217, 61));
  box-shadow: 1px 1px 19px 4px rgba(0,0,0,0.75);
  overflow: hidden;
  max-height: 100vh;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: fit-content;
  color: rgb(79, 32, 13);
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  overflow-y: hidden;
  max-height: 97vh;
}

/* Individual item */
.bm-item {
  color: rgb(79, 32, 13);
  text-decoration: none;
}

.bm-item:hover {
  text-decoration: underline;
}

#register {
  bottom: 0;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(255, 217, 61, 0.3);
  margin: 0;
  padding: 0;
  top: 0;
}

#welcome {
  font-size: 16px;
  font-weight: bold;
  margin-right: 1em;
}

#title{
  font-size: 2.5rem;
  margin-left: 10%;
}