.user-info {
  display: flex;
}

.info {
  margin-left: 1em;
}

.ratinginfo {
  margin-left: 1em;
  padding-top: 1em;
}

#rating-container {
  margin-bottom: 2rem;
}

#user-edit-password-container {
  display: none;
}

.centered {
  height: 5%;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(2,48,71);
}

.profile-container {
  display: flex;
  justify-content: space-between;
  /* margin-left: 5%; */
}

.profiledetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  background: var(--container-color);
  border-radius: 10px;
  padding: 1em;
  box-shadow: 1px 1px 5px 1px var(--background-accent);
  height: 100%;
  margin-top: 2rem;
  margin-left: 2em;
}

#edit-submit-button {
  margin-bottom: 1em;
}

#passwordBtn {
  margin-bottom: 1em;
}

#editBtn {
  margin-bottom: 1em;
}

#passSubmit {
  margin-bottom: 1em;
}

#favoriteListContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  max-height: 80vh;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
  background: var(--container-color);
  box-shadow: 1px 1px 5px 1px var(--background-accent);
  border-radius: 10px;
}

#favoriteTitle {
  width: auto;
  height: auto;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 1rem;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(2,48,71);
}

#favoriteList {
  display: flex;
  flex-wrap: wrap;
  height: 60%;
  max-height: 60%;
  overflow-y: auto;
  justify-content: space-evenly;
  
}

.modal-edit-submit-button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#changePassword {
  width: 80%;
  min-width: 80%;
}

#changePasswordCheck {
  width: 80%;
  min-width: 80%;
}

#changePasswordLabel {
  width: 80%;
  min-width: 80%;
}

#changePasswordCheckLabel {
  width: 80%;
  min-width: 80%;
}

.profileInfoBtnGroup {
  margin-top: 2rem;
}

.profileInfoBtnGroup > * {
  margin: .2rem;
}


.breadcrumbs {
  display: grid;
  justify-content: center;
}

#showPass {
  margin-left: 0.5rem;
}

#showPassCheck {
  margin-left: 0.5rem;
}

.profileInfoHeader {
  font-weight: bold;
}