
#detailheader {
  margin-top: 0;
}

#flexcontainerdetail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width:96%;
}

#descriptionTextContainer{
  display:flex;
  flex-direction:column;
  text-align: center;
  width: 20%;
  height: 40%;
  
}
.centered {
  text-align: center;
}

