
#detailheader {
  margin-top: 0;
}

#flexcontainerdetail{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#descriptionTextContainer{
  background-color: var(--background-accent);
  padding: 20px;
  padding-top: 0;
  border-radius: 15px;
  display:flex;
  flex-direction:column;
  text-align: center;
  row-gap: 15px;
  width: fit-content;
  height: fit-content;
  overflow: auto;
  overflow-x: hidden;
  font-weight: bold;
}
.centered {
  text-align: center;
}

