#detailFlexContainer{
  display:flex;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: auto;
}

#detailimage {
  display: block;
  width: 85%;
  height: 75%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px #4F200D;
}

#detailimagecontainer{
  width: 100%;
  height: 90%;
  display: flex;
  margin: 0;
  margin-top: 3.5%;
  margin-bottom: 2%;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 1.5em;    
  font-weight: bold;
}

#detailsContainer {
  display: flex;
  width: 40%;
  flex-direction: column;
  background: white;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: 1vw;
  border-radius: 10px;
  padding-left: 1vw;
  padding-right: 1vw;
  overflow: auto;
  box-shadow: 1px 1px 10px 1px #4F200D;
}

.detailButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
}

.favoriteIconDetail{
  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
  font-size: clamp(25px, 5vh, 100px);
}

#returnButtonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

#returnButtonContainer:hover {
  color: #FF8400;
  transform: scale(1.1);
}


#returnButtonContainer span{
  height: 100%;
  width: 100%;
  font-size: clamp(25px, 5vh, 100px);
  cursor: pointer;
}

.favoriteIconDetail:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#addFavoriteIconDetail {
  color: rgb(201, 1, 1);
}

#favoritedIconDetail{
  color: #FF8400;
}

#icon {
  display: inline-block;
  margin-right: 0.25em;
}

#colorIcon {
  display: inline-block;
  margin-right: 0.25em;
  border-radius: 50px;
  background-color: black;
}

.detailItem {
  display: flex;
  margin: 0.5em;
  align-items: center;
}

.detailHeader {
  display: flex;
  margin: 0.5em;
  margin-left: 0;
  align-items: center;
}

.detailDescriptionItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.25em;
}
/* 
.detailDescriptionText{
  min-height: 20%;
  max-height: 20%;
  max-width: 95%;
  min-width: 95%;
  border: 2px solid rgb(43, 255, 0);
} */

#description {
  min-height: 20%;
  max-height: 20%;
  max-width: 95%;
  min-width: 95%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4F200D;
  border-style: none;
  background: none;
  overflow: auto;
  outline: none;
  resize: none;
  margin-bottom: 1vh;
}

/* NEW */
.soldButton {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 40%;
  justify-content: center;
}

.soldButton:hover {
  transform: scale(1.1);
}

.relistButton {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(167, 20, 20) 0%, rgb(247, 102, 102) 100%);
  border: none;
  box-shadow: 0 0em 1.5em -0.5em #a7141498;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 40%;
  justify-content: center;
}

.relistButton:hover {
  transform: scale(1.1);
}

#report {
  font-size: clamp(25px, 5vh, 100px);
}

#report:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #ffb703;
}

#approve {
  color: rgb(59, 199, 24);
  font-size: clamp(25px, 5vh, 100px);
}

#approve:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#deny {
  color: rgb(199, 24, 24);
  font-size: clamp(25px, 5vh, 100px);
}

#deny:hover {
  transform: scale(1.1);
  cursor: pointer;
}