#flexcontaineraccountlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}
#flexcontaineraccountlist > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: white solid 1px;
  margin: .5rem;
  padding: .5rem;
}
#buttondeleteaccount {
  border: white solid 1px;
  padding: .2rem;
}

.accountContainer{
  position: relative;
  width: 75%;
}

.accountInfoLeftContainer{
  width: 50%;
}

.accountInfoRightContainer{
  width: 50%;
}

#accountDeleteButton {
  position: absolute;
  color: var(--accent-dark);
  top: 5px;
  right: 5px;
}

#adminModeratorAdd {
  color: var(--accent-light);
  position: absolute;
  top: 5px;
  right: 30px;
}

#adminModeratorAdd:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#adminModeratorRemove {
  color: red;
  position: absolute;
  top: 5px;
  right: 30px;
}

#adminModeratorRemove:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#accountDeleteButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#adminLocationPageWrapper{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#baseListContainer{
  background: var(--container-color);
  border-radius: 10px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  width: 20%;
  min-width: 250px;
  height: 85%;
  max-height: 85%;
}

.baseItem{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3%;
  background: var(--background);
}

.baseIcon{
  cursor: pointer;
}

#addNewBaseContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3%;
  background: var(--background);
  cursor: pointer;
}

#newBaseTextInput{
  color: black;
}