#adminPageWrapper{
  /* height: 100%;
  width: 100%; */
  /* display: flex;
  justify-content: center; */
}

#reportedListContainer{
  width: 98%;
  height: 80vh;
}

#flexcontaineraccountlist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  width: 100%;
  overflow: auto;
  height: 80vh;
  background: var(--container-color);
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px var(--background-accent);
}

#flexcontaineraccountlist > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: var(--background) solid 1px;
  flex: 1 1 48%;
  min-width: 450px;
  margin: .5rem;
  padding: .5rem;
}

#buttondeleteaccount {
  border: white solid 1px;
  padding: .2rem;
}

.accountContainer{
  position: relative;
  width: 75%;
  color: var(--background);
  background: var(--background);
}

.accountInfoLeftContainer{
  width: 50%;
}

.adminAccountsItem {
  display: flex;
  color: white
}

.adminAccountsItem > p {
  margin-left: 0.5rem;
}

.accountInfoRightContainer{
  width: 50%;
}

#accountDeleteButton {
  position: absolute;
  color: var(--accent-dark);
  top: 5px;
  right: 5px;
}

#adminModeratorAdd {
  color: var(--accent-light);
  position: absolute;
  top: 5px;
  right: 30px;
}

#adminModeratorAdd:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#adminModeratorRemove {
  color: red;
  position: absolute;
  top: 5px;
  right: 30px;
}

#adminModeratorRemove:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#accountDeleteButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#adminLocationPageWrapper{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#baseListContainer{
  background: var(--container-color);
  border-radius: 10px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  row-gap: 5px;
  width: 30%;
  min-width: 250px;
  height: 85%;
  max-height: 80vh;
  box-shadow: 1px 1px 5px 1px var(--background-accent);
}

.baseItem{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3%;
  background: var(--background);
}

.baseIcon{
  cursor: pointer;
}

#addNewBaseContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3%;
  background: var(--background);
  cursor: pointer;
}

#addNewBaseContainer:hover {
  transform: scale(1.015);
  box-shadow: 1px 1px 10px 1px rgba(204, 204, 204, 0.8);
}

#newBaseTextInput{
  color: black;
}

#adminNoListingsText{
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
}

#addBaseBack:hover {
  transform: scale(1.1);
}

#addBaseSave:hover {
  transform: scale(1.1);
}

#addBaseDelete:hover {
  transform: scale(1.1);
}