#credits {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 12;
    background-color: 8ecae6;
    align-self: flex-end;
} 

#fullpage{
    height: 92%;
    margin: 0;
    padding: 0;
}