body {
  margin: 0;
  min-height: 100%;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

#root {
  /* background: #023047; */
  --background: #023047;
  --background-accent: #219ebc;
  --container-color: #8ecae6;
  --accent-light: #ffb703;
  --accent-dark: #fb8500;
  --dark-text: #11101d;
  background: var(--background);
  background-size: cover;
  overflow: auto;
  color: white;
  font-family: "Poppins", sans-serif;
}

html, body, #root {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-light);
  border-radius: 10px;
}